<p>
  c17prod-pass-arg works!
</p>
{{catid}}
<table class="table table-border">
  <tr class="bg-warning">
      <th>prodid</th>
      <th>catid</th>
      <th>prodname</th>
      <th>prodimg</th>
      <th>prod desc</th>
      <th>prod price</th>
      <th>prod qty</th>
  </tr>
  <ng-container *ngFor="let p of products" >
  <tr class="bg-success" *ngIf="p.catid==catid">

      <th>{{p.pid}}</th>
      <th>{{p.catid}}</th>
      <th>{{p.name}}</th>
      <td><img  src='assets/images/{{p.img}}'/></td>
      <th>{{p.desc}}</th>
      <th>{{p.price}}</th>
      <th>{{p.qty}}</th>
  </tr>
</ng-container>

</table>

<button [routerLink]="['/categories']" class="btn btn-success" >Go Back from html</button>
<button (click)="go()"  class="btn btn-primary" >Go Back from class</button>
<button (click)="goBackLoc()"  class="btn btn-warning" >Go Back from class using location object.</button>
