<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


<p>
  c11prod-passing-obj-to-child works!
</p>

<table class="table table-bordered table-hover">
    <tr class="bg-danger">
        <!-- {pid:1,catid:1,name:'dell',img:'l1.jpg',desc:'description',
          price:15000,qty:100}, -->
      <th>prodid</th>
      <th>catid</th>
      <th>name</th>
      <th>desc</th>
      <th>img</th>
      <th>price</th>
      <th>qty</th>
      <th>rating</th>
      <th>rating2</th>
      <th>passing object</th>
    </tr>
    <ng-container *ngFor="let p of products">
<tr >
  <td>{{p.pid}}</td>
  <td>{{p.catid}}</td>
  <td>{{p.name}}</td>
  <td>{{p.desc}}</td>
  <td>{{p.img}}</td>
  <td>{{p.price}}</td>
  <td>{{p.qty}}</td>
  <td>{{p.rating}}</td>
  <td>
    <app-c10rating [prodRating]="p.rating"></app-c10rating>
  </td>
  <td>
      <app-c10rating [category]="cat"></app-c10rating>
    </td>
</tr>
</ng-container>
  </table>
