<!-- The content below is only a placeholder and can be replaced. -->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<app-c1></app-c1>
<p> ------------------------------------------------------------------------------ </p>
<br>
<app-c2-prac-tillbinding></app-c2-prac-tillbinding>
<p> -----------------------directive starts from here  ---------------------------- </p>
<app-c3-directive></app-c3-directive>
<p> -----------------------Repeat directive starts from here   ---------------------------- </p>
<app-c4directive-re></app-c4directive-re>
</div>
<p> -----------------------atbt directive starts from here   ---------------------------- </p>
<app-c5-atbt-directive></app-c5-atbt-directive>
<p> -----------------------image show hide on tr click.   ---------------------------- </p>
<app-c6imgdispthclick></app-c6imgdispthclick>
<p> -----------------------inbuilt pipe starts   ---------------------------- </p>
<app-c7inbuiltpipes></app-c7inbuiltpipes>
<p> -----------------------custom pipe starts   ---------------------------- </p>
<app-c8custompipes></app-c8custompipes>  -->
<!-- <app-c1prac></app-c1prac> -->
<!-- <app-v1></app-v1> -->
<!-- <app-s1></app-s1> -->

<!-- <app-s2sumitdir></app-s2sumitdir> -->
<!-- <app-v3directive></app-v3directive> -->
<!-- <app-c9prod></app-c9prod> -->
<app-s2sumitdir></app-s2sumitdir>
