<p>
  c23info works!
</p>
Category selected is : {{catId}}<br>
<table class="table table-bordered">
    <tr class="bg-primary">
      <td>catid</td>
      <td>cat name</td>
      <td>cat image</td>
      <td>cat desc</td>
    </tr>
    <ng-container *ngFor="let c of categories">
      <tr *ngIf="c.id==catId">
        <td>{{c.id}}</td>
        <!-- <td><a [routerLink]="['../prodInfo',c.id]">{{c.name}}</a></td> -->
        <td><a [routerLink]="['../../prodInfo']" [queryParams]="{id:c.id}">{{c.name}}</a></td>
        <td><img src='assets/images/{{c.img}}'/></td>
        <td>{{c.desc}}</td>
      </tr>
    </ng-container>

  </table>
